@media all and (max-width: 1220px) {
  .createfilms_title_video {
    max-width: 40%;
  }

  h1 {
    font-size: 56px;
  }

  .facts_content_article_text {
    padding: 20px;
  }

  .createfilms_mouse-parallax_bg {
    left: -22%;
  }

  .music_content img {
    width: 98%;
  }
}
@media all and (max-width: 1140px) {
  .theme_slider_element {
    width: 240px;
    height: 240px;
  }
  .theme_slider_element div {
    width: 260px;
    height: 260px;
  }

  .theme_slider {
    max-width: 840px;
    width: 100%;
  }

  .theme_slider .slick-next {
    right: 36%;
    top: 107.3%;
  }

  .theme_slider .slick-prev {
    top: 107.3%;
    left: 37%;
  }

  .scroller_content {
    padding-right: 35px;
  }

  .price_content {
    justify-content: space-evenly;
  }

  .price_content_item {
    padding: 40px 20px 20px 20px;
    margin-bottom: 60px;
  }

  .price_content .fifth {
    height: 216px;
  }

  .price_content_item h4 {
    margin-bottom: 5px;
  }

  .music_content img {
    width: 95%;
  }

  .music_content {
    position: absolute;
    right: -25%;
    top: 5%;
  }
  .music_content img {
    width: 72%;
  }

  .works_content {
    justify-content: space-around;
  }

  .theme .popup_content {
    max-width: none;
  }

  .works .popup_content {
    max-width: none;
  }

  .facts .popup_content {
    padding: 20px 30px;
  }
}
@media all and (max-width: 900px) {
  .header_nav a,
.footer_nav a {
    margin: 0 5px;
  }

  button,
input[type=submit] {
    width: 200px;
  }

  h4 {
    font-size: 18px;
  }

  .facts {
    min-height: 840px;
  }

  .facts_content_article:not(:last-child) {
    margin-right: 0;
  }

  .facts_content_article_text {
    min-height: auto;
  }

  .facts_content {
    flex-direction: column;
  }

  .facts_content_article {
    max-width: 70%;
    width: 100%;
  }

  .facts_content_article div {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .facts_content_article img {
    width: 45px;
  }

  .createfilms_clients_text:before,
.facts_content_article_text:before {
    content: "";
    width: 30px;
    height: 30px;
    top: -20px;
  }

  .facts h2 {
    margin-bottom: 0;
    margin-top: 30px;
  }

  .facts_more {
    margin-top: 10px;
  }

  .photos_content_image {
    margin-right: 0;
  }

  .createfilms_title_text {
    padding-top: 8%;
    margin-right: 2%;
  }

  .createfilms_clients_text {
    margin-top: 22px;
  }

  .theme_slider_element {
    margin: 10px 10px;
    width: 160px;
    height: 160px;
  }
  .theme_slider_element div {
    width: 180px;
    height: 180px;
  }

  .theme_slider {
    max-width: 560px;
    width: 100%;
  }

  .theme_slider_element:after {
    transform: scale(0.7);
    bottom: -10%;
    right: -10%;
  }

  h6 {
    font-size: 12px;
  }

  .theme {
    min-height: 500px;
  }
  .theme .container {
    padding-top: 0px;
  }

  .theme_slider .slick-dots {
    left: 36%;
  }

  .theme_slider .slick-next {
    right: 31%;
    top: 110%;
  }

  .theme_slider .slick-prev {
    top: 110%;
    left: 28%;
  }

  .theme_slider h4 {
    width: 90%;
    margin-bottom: 10px;
    height: 55px;
    line-height: 20px;
  }

  .theme_slider h6 {
    margin-bottom: 0px;
    min-height: 70px;
  }

  .theme h2 {
    margin-bottom: 30px;
  }

  .music_content {
    display: none;
  }

  .music_description {
    max-width: 95%;
  }

  .music {
    min-height: 400px;
    padding-top: 0;
  }

  .music_description button {
    margin-bottom: 30px;
  }

  .popup_content {
    padding: 30px;
  }

  .popup_content {
    max-width: 85%;
  }

  .works_slider {
    margin: 0 auto 20px auto;
  }

  .works h2 {
    margin-bottom: 20px;
  }

  .works_slider {
    max-width: 450px;
  }

  .works {
    padding-top: 0;
  }

  .facts .facts_popup_body_content img {
    display: none;
  }
}
@media all and (max-width: 768px) {
  header {
    height: 100px;
    padding-right: 80px;
    box-sizing: border-box;
  }

  .header_nav {
    position: absolute;
    display: flex;
    top: 0px;
    width: 200px;
    z-index: 30;
    transform: translateX(calc(100vw - 50px));
  }

  .navOpen {
    -webkit-animation: navOpen 300ms linear forwards;
    animation: navOpen 300ms linear forwards;
  }

  @-webkit-keyframes navOpen {
    100% {
      transform: translateX(calc(100vw - 200px));
    }
  }
  @keyframes navOpen {
    100% {
      transform: translateX(calc(100vw - 200px));
    }
  }
  .navClose {
    -webkit-animation: navClose 300ms linear forwards;
    animation: navClose 300ms linear forwards;
  }

  @-webkit-keyframes navClose {
    0% {
      transform: translateX(calc(100vw - 200px));
    }
    100% {
      transform: translateX(calc(100vw - 50px));
    }
  }
  @keyframes navClose {
    0% {
      transform: translateX(calc(100vw - 200px));
    }
    100% {
      transform: translateX(calc(100vw - 50px));
    }
  }
  .header_nav_button {
    display: block;
    margin-top: 30px;
    background-image: url(../../images/svg/menuOpenWhite.svg);
    background-repeat: no-repeat;
  }

  .header_nav_menu {
    width: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 10px;
    flex-direction: column;
    background: linear-gradient(180deg, #faff00 0%, #f0d512 100%);
  }

  h2 {
    font-size: 32px;
  }

  .steps h2 {
    margin-bottom: 60px;
  }

  .steps_content_connection {
    min-width: 15px;
  }

  .steps_content_request {
    padding: 35px 15px 15px 15px;
  }

  h1 {
    font-size: 48px;
    line-height: 54px;
  }
  h1 span {
    font-size: 40px;
    line-height: 45px;
  }

  .createfilms_title {
    margin-bottom: 3%;
  }

  .createfilms_clients img {
    margin-bottom: 0px;
  }

  .createfilms_clients_text {
    max-width: 85%;
    padding: 10px;
  }

  h3 {
    font-size: 20px;
  }

  .createfilms_clients_text > div:first-child {
    width: 100%;
  }

  .theme {
    min-height: 435px;
  }
  .theme .container {
    width: 100%;
  }

  .theme_slider_element {
    margin: 10px 10px;
    width: 140px;
    height: 140px;
  }
  .theme_slider_element div {
    width: 160px;
    height: 160px;
  }

  .theme_slider {
    max-width: 500px;
    width: 100%;
  }

  .theme_slider .slick-next {
    right: 28%;
    top: 111%;
  }

  .theme .thumb {
    margin: 0 5px;
  }

  .works .thumb {
    margin: 0 5px;
  }

  .reviews_content_comment {
    margin-bottom: 15px;
    padding: 15px;
  }

  .reviews_form form {
    padding: 20px;
  }

  .reviews_form form input,
.reviews_form form select,
.reviews_form form .select {
    margin-bottom: 12px;
  }

  .reviews_content_comment p {
    font-size: 12px;
  }

  .price_content_item {
    max-width: 260px;
  }

  .videoAudio .container {
    flex-direction: column;
  }

  .videoAudio_video {
    max-width: 100%;
  }

  .videoAudio_audio {
    width: 70%;
  }

  .videoAudio h4 {
    text-align: center;
    margin-bottom: 25px;
  }

  .videoAudio_audio {
    margin: 80px auto 0 auto;
  }

  .videoAudio {
    min-height: 850px;
  }

  .videoAudio_audio_content_comment {
    height: 80px;
  }

  .videoAudio_audio .baron {
    height: 300px;
  }

  .videoAudio_audio .scroller__bar-wrapper {
    top: calc(50% - 150px);
    max-height: 300px;
  }

  .footer_nav {
    display: none;
  }

  footer .container {
    justify-content: space-around;
    height: 100px;
  }

  footer {
    height: 100px;
  }

  .footer_logo {
    padding-top: 0;
  }

  .works_content_item {
    max-width: 250px;
    height: 200px;
  }

  .works_content > a {
    max-width: 250px;
  }

  .largeImage {
    max-width: 100%;
    margin: 0;
  }

  .facts .popup_content {
    max-width: 85%;
  }

  .facts .facts_popup_body_content p {
    font-size: 12px;
    line-height: 15px;
  }
}
@media all and (max-width: 550px) {
  .header_button {
    display: none;
  }

  .facts_content_article_text {
    padding: 15px;
  }
  .facts_content_article_text p {
    font-size: 12px;
    line-height: 15px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .photos_content {
    flex-direction: column;
  }

  .photos_content_image {
    max-width: 100%;
    min-height: 450px;
  }

  .photos_content_text {
    width: 100%;
  }

  .steps_content {
    flex-direction: column;
  }

  .steps_content_request {
    max-width: 90%;
    min-height: auto;
    margin-bottom: 35px;
  }

  .steps_content_request:nth-child(3) {
    transform: translateY(0px);
  }

  .steps_content_connection {
    display: none;
  }

  .steps h2 {
    margin-bottom: 30px;
  }

  .steps_content_request h4 {
    margin-bottom: 10px;
  }

  .createfilms_title_video {
    display: none;
  }

  .createfilms_title_text {
    max-width: 100%;
  }

  .createfilms_title_text {
    padding-top: 0;
  }

  .createfilms {
    min-height: 610px;
    background-position-y: bottom;
    padding: 100px 0 60px 0;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
  }
  h1 span {
    font-size: 24px;
    line-height: 32px;
  }

  .theme_slider_element {
    margin: 10px auto;
  }

  .theme_slider .theme_slider_text {
    max-width: 80%;
    margin: 0 auto;
  }

  .theme {
    min-height: 320px;
  }

  .theme_slider {
    width: 90%;
    max-width: none;
  }

  .theme_slider .slick-next {
    top: 116%;
    left: 69%;
  }

  .theme_slider .slick-prev {
    top: 116%;
    left: 25%;
  }

  .theme_slider .slick-dots {
    left: 30%;
    width: 40%;
  }

  .theme h2 {
    margin-bottom: 15px;
  }

  .theme_slider_element {
    width: 110px;
    height: 110px;
  }
  .theme_slider_element div {
    width: 120px;
    height: 120px;
    top: -5px;
    left: -5px;
  }

  .theme_slider h6 {
    display: none;
  }

  .theme_slider h4 {
    font-size: 14px;
  }

  .theme_slider_element:after {
    transform: scale(0.5);
    bottom: -20%;
    right: -20%;
  }

  .theme_slider > a {
    width: 150px;
  }

  .reviews .container > div {
    flex-direction: column;
  }

  .reviews {
    justify-content: flex-start;
    padding-top: 40px;
    min-height: 700px;
  }

  .reviews_form {
    width: 90%;
  }

  .reviews h2 {
    margin-bottom: 80px;
  }

  .reviews_form form {
    margin: 0 auto;
  }

  .reviews .scroll {
    display: none;
  }

  .reviews_form_bg {
    height: 150%;
    top: -17%;
    background-size: contain;
  }

  .reviews .container {
    width: 100%;
  }

  .reviews .container {
    padding: 0;
  }

  .price_content_item {
    padding: 35px 10px 10px 20px;
    margin: 0px 5px 50px 5px;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
    min-height: 160px;
    height: 100%;
  }

  .price_content .fifth {
    min-height: 160px;
    height: 100%;
  }

  .price_content_item p {
    font-size: 12px;
    line-height: 16px;
  }

  .price {
    padding-top: 20px;
  }

  .videoAudio_video_comment {
    min-width: 250px;
  }

  .videoAudio_video_comment_content {
    min-width: 250px;
  }

  .facts_popup_body_content p {
    font-size: 12px;
    line-height: 15px;
  }

  .facts_popup_body_content > div:first-child {
    margin-bottom: 0;
  }

  .facts_popup_body_content > div img {
    display: none;
  }

  .popup_content {
    max-width: 73%;
  }

  .works_slider p {
    font-size: 12px;
    height: 40px;
  }

  .works_content_item {
    margin-bottom: 10px;
  }

  .theme .popup_content {
    min-height: auto;
    padding: 20px;
  }
  .theme .popup_content .panel {
    margin-bottom: 0px;
  }

  .works .popup_content {
    min-height: auto;
    padding: 20px;
  }
  .works .popup_content .panel {
    margin-bottom: 0px;
  }

  .facts .facts_popup_body_content > div:first-child {
    margin-bottom: 8px;
  }

  .facts .popup_content {
    padding: 10px 15px;
    max-height: 585px;
  }
}
@media all and (max-width: 450px) {
  .facts_content_article {
    max-width: 85%;
    width: 100%;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
  }

  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .photos_content_image {
    display: none;
  }

  .photos h2 {
    margin-bottom: 15px;
  }

  .photos_content_text {
    font-size: 12px;
  }

  .photos {
    min-height: auto;
  }

  .steps_content_request p {
    font-size: 12px;
  }

  .createfilms_clients_text {
    flex-direction: column;
  }

  .createfilms_clients {
    padding-left: 10px;
  }

  h1 {
    margin-bottom: 16px;
  }

  .createfilms {
    min-height: 500px;
    background-position-y: bottom;
    padding: 100px 0 60px 0;
  }

  .videoAudio_video_comment {
    min-width: 200px;
  }

  .videoAudio_video_comment_content {
    min-width: 200px;
  }

  .music_description {
    max-width: 100%;
  }

  footer .container > div:nth-child(3) {
    display: none;
  }

  .works_slider {
    max-width: 300px;
  }
  .works_slider .slick-next {
    right: -10px;
  }
  .works_slider .slick-prev {
    left: -10px;
  }

  .theme_slider_element {
    width: 70px;
    height: 70px;
  }
  .theme_slider_element div {
    width: 80px;
    height: 80px;
  }

  .theme_slider_element:after {
    display: none;
  }

  .theme_slider h4 {
    font-size: 11px;
    line-height: 13px;
  }

  .theme_slider .slick-dots {
    left: 27%;
  }

  .theme_slider .slick-next {
    top: 120.5%;
    left: 65%;
  }

  .theme_slider .slick-prev {
    top: 120.5%;
    left: 22%;
  }

  .theme_slider .slick-dots li {
    width: 18px;
    margin: 0 4px;
  }

  .theme_slider {
    margin: 0;
  }

  .largeImage {
    height: auto;
  }

  .popup_close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .facts .facts_popup_body_content p {
    font-size: 10px;
    line-height: 12px;
  }

  h4 {
    font-size: 11px;
    line-height: 15px;
  }

  .facts .popup_content {
    max-width: 90%;
  }

  .facts .popup_content {
    max-height: 500px;
  }
}

/*# sourceMappingURL=adaptive.css.map */
