@charset "UTF-8";
@import './reset.css';
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #fff;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  text-decoration: underline;
  color: #ffffff;
  letter-spacing: -0.7px;
  margin-bottom: 23px;
}
h1 span {
  font-size: 45px;
  line-height: 55px;
  text-decoration: none;
  display: inline-block;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  text-decoration-line: underline;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  text-decoration-line: underline;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-decoration-line: underline;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
}

h6 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.music_description_text p, .price_content_item h4, .photos_content_text, h2, h3 {
  color: #f88127;
}

.header_nav a:hover,
.footer_nav a:hover {
  color: #ffc224;
}

.footer_logo p, .music_description_text p:last-child, .price_content_item p, .reviews_form form .reviews_form_text2, .works_slider p, .photos_content_text p:first-child, .photos h2 span, .facts_content_article_text p, .theme_slider h4, .createfilms_clients_text_content, .createfilms_clients_text h3 span, button,
input[type=submit] {
  color: #6d2d09;
}

.reviews_content, .reviews_form form, .reviews, .theme_slider .theme_slider_text, .theme, .createfilms .container, .createfilms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.steps_content, .photos_content, .facts_content_article div, .facts_content, .createfilms_clients_text, header .container {
  display: flex;
  align-items: center;
}

button,
input[type=submit] {
  width: 230px;
  height: 50px;
  background: linear-gradient(180deg, #faff00 44%, #ecbe1c 97.92%);
  box-shadow: 0px 15px 20px rgba(223, 132, 28, 0.4);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
button img,
input[type=submit] img {
  margin: 0 7px;
}

input[type=submit]:after,
button:after {
  content: url(../../images/svg/icon_header_button.svg);
  display: inline-block;
  transform: translate(7px, 3px);
}

a {
  text-decoration: none;
}

header {
  height: 120px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  padding-top: 20px;
}
header .container {
  height: 100%;
  justify-content: space-between;
}

.header_logo {
  margin-bottom: 18px;
  cursor: pointer;
}

.header_nav a,
.footer_nav a {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 20px;
}
.header_nav a:hover,
.footer_nav a:hover {
  text-decoration: underline;
}

.createfilms {
  min-height: 700px;
  padding: 120px 0 130px 0;
  background-image: url(../../images/svg/bg_create.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}
.createfilms_title_video {
  position: relative;
  padding: 134px 0 0 60px;
  box-sizing: border-box;
}
.createfilms_title_video img {
  width: 446px;
  height: 286px;
  z-index: 5;
  position: relative;
}

.mouse-parallax,
.scroll-parallax {
  position: relative;
}

.createfilms_mouse-parallax_bg {
  position: absolute;
  top: 0;
  left: -79px;
  width: 700px;
  height: 476px;
  background-image: url(../../images/parallax_mouse.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll-parallax_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../images/parallax_scroll.png);
  background-repeat: no-repeat;
  background-position: center 0;
  background-attachment: fixed;
}

.facts .scroll-parallax_bg {
  background-image: url(../../images/facts_bg.png);
}

.photos .scroll-parallax_bg {
  background-image: url(../../images/photos_parallax_bg.png);
}

.reviews .scroll-parallax_bg {
  background-image: url(../../images/reviews_parallax_bg.png);
}

.music .scroll-parallax_bg {
  background-image: url(../../images/music_parallax_bg.png);
}

.createfilms_title {
  display: flex;
  margin-bottom: 82px;
  position: relative;
}

.createfilms_title_text {
  max-width: 52%;
  width: 100%;
  padding-top: 135px;
}
.createfilms_title_text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 22px;
}
.createfilms_title_text button {
  width: 282px;
}

.createfilms_clients {
  padding-left: 65px;
}
.createfilms_clients img {
  margin-bottom: 18px;
}

.createfilms_clients_text {
  max-width: 546px;
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #faff00 0%, #efce15 100%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 24px 20px 24px 34px;
  margin-top: 30px;
}
.createfilms_clients_text h3 span {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.createfilms_clients_text > div:first-child {
  width: 85%;
}

.createfilms_clients_text:before,
.facts_content_article_text:before {
  content: "";
  width: 40px;
  height: 40px;
  background: linear-gradient(to left top, #faff00 50%, transparent 50%) left/50% 100% no-repeat, linear-gradient(to right top, #faff00 50%, transparent 50%) right/50% 100% no-repeat;
  position: absolute;
  top: -30px;
  left: 15px;
}

.createfilms_clients_text_content {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.theme {
  min-height: 700px;
}
.theme .container {
  padding-top: 48px;
}
.theme h2 {
  margin-bottom: 42px;
}

.theme_slider_element {
  position: relative;
  width: 330px;
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  border-radius: 50%;
  margin: 10px 20px;
  cursor: pointer;
}
.theme_slider_element div {
  position: absolute;
  width: 350px;
  height: 350px;
  background-image: linear-gradient(156.3deg, #f5652b 4.98%, #f5652b 4.99%, #eea517 44.17%, #faff00 81.13%);
  border-radius: 50%;
  z-index: -10;
  top: -10px;
  left: -10px;
}

.theme_slider_element:after {
  content: url(../../images/svg/triangle.svg);
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(180deg, #faff00 0%, #eea517 100%);
  box-shadow: 0px 0px 20px #ffc01f;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 22px;
  padding-left: 30px;
  box-sizing: border-box;
}

.theme_slider {
  width: 1110px;
}
.theme_slider .slick-dots {
  bottom: -45px;
  width: max-content;
  left: 42%;
}
.theme_slider h4 {
  border-bottom: 5px dotted #6d2d09;
  box-sizing: border-box;
  width: 60%;
  margin-bottom: 16px;
  text-align: center;
  line-height: 60px;
}
.theme_slider h6 {
  color: #f5652b;
  margin-bottom: 30px;
  text-align: center;
}
.theme_slider .theme_slider_text {
  align-items: center;
}
.theme_slider .celebration {
  background-image: url(../../images/celebration.jpg);
}
.theme_slider .family {
  background-image: url(../../images/family.jpg);
}
.theme_slider .travel {
  background-image: url(../../images/travel.jpg);
}
.theme_slider button:after {
  content: none;
}
.theme_slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 8px;
}
.theme_slider button {
  box-shadow: none;
  border-radius: 30px;
  margin: 0 10px;
  z-index: 15;
}
.theme_slider .slick-dots li button:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #f88127;
  border-radius: 50%;
  opacity: 1;
}
.theme_slider .slick-dots li.slick-active button:before {
  background-color: #faff00;
  box-shadow: 0px 0px 10px #faff00;
}
.theme_slider .slick-next {
  right: 430px;
  top: 106%;
}
.theme_slider .slick-next:before {
  content: url(../../images/svg/arrow_right.svg);
}
.theme_slider .slick-prev {
  left: 427px;
  top: 106%;
}
.theme_slider .slick-prev:before {
  content: url(../../images/svg/arrow_right.svg);
  transform: scale(-1);
  display: block;
}

.facts {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 870px;
  background-image: url(../../images/svg/bg_facts.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 12px;
}
.facts h2 {
  color: #fff;
  margin-bottom: 63px;
}

.facts_content {
  justify-content: space-between;
}

.facts_content_article {
  max-width: 350px;
  width: 100%;
}
.facts_content_article div {
  margin-bottom: 44px;
}
.facts_content_article h4 {
  color: #faff00;
  margin-left: 25px;
}

.facts_content_article:not(:last-child) {
  margin-right: 30px;
}

.facts_content_article_text {
  position: relative;
  background-image: linear-gradient(180deg, #faff00 0%, #efce15 100%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 30px 27px 30px 47px;
  min-height: 178px;
  box-sizing: border-box;
  margin-top: 30px;
}
.facts_content_article_text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.facts_more {
  position: relative;
  width: max-content;
  margin: 0 auto;
}

.facts_more:after {
  content: url(../../images/svg/hand.svg);
  position: absolute;
  top: 3px;
  right: -20px;
}

.photos {
  min-height: 710px;
}
.photos_content_image {
  max-width: 638px;
  width: 100%;
  height: 616px;
  background-image: url(../../images/photos_bg.png);
  margin-right: 40px;
}

.photos_content_text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 50%;
}
.photos_content_text button {
  width: 282px;
  height: 50px;
}
.photos_content_text p {
  margin-bottom: 15px;
}
.steps {
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps h2 {
  margin-bottom: 94px;
}
.steps .container {
  padding-top: 7px;
}

.steps_content_request {
  position: relative;
  width: 350px;
  min-height: 232px;
  background: linear-gradient(90deg, #efce15 0%, #eea517 52.6%, #f88127 100%);
  border-radius: 10px;
  padding: 48px 28px 20px 28px;
  box-sizing: border-box;
}
.steps_content_request h4 {
  color: #ffffff;
  margin-bottom: 14px;
}
.steps_content_request p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.steps_content_request:before {
  content: "1";
  width: 64px;
  height: 64px;
  display: inline-block;
  background: linear-gradient(180deg, #faff00 0%, #efce15 100%);
  border: 7px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ffffff;
  padding-top: 11px;
  box-sizing: border-box;
  position: absolute;
  top: -32px;
  left: 22px;
}

.steps_content_request:nth-child(3) {
  transform: translateY(-20px);
}

.steps_content_request:nth-child(3):before {
  content: "2";
}

.steps_content_request:nth-child(5):before {
  content: "3";
}

.steps_content_connection {
  width: 30px;
  height: 30px;
  background: linear-gradient(90deg, #f78326 10.22%, #eea517 68.95%, #efca15 120.03%);
  transform: translateY(-44px);
}

.works {
  padding-top: 35px;
  padding-bottom: 28px;
}
.works h2 {
  margin-bottom: 45px;
}

.works_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works_content_item {
  width: 350px;
  height: 250px;
  background-image: url(../../images/celebration.jpg);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}

.works_slider {
  display: flex;
  width: 610px;
  margin: 0 auto 65px auto;
}
.works_slider p {
  font-weight: bold;
  font-size: 20px;
}

.reviews {
  min-height: 1020px;
  background-image: url(../../images/svg/reviews_bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.reviews h2 {
  margin-bottom: 56px;
  color: #fff;
}
.reviews .container {
  width: 100%;
}
.reviews .container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews_form_bg {
  width: 150%;
  height: 160%;
  position: absolute;
  background-image: url(../../images/form_bg.png);
  background-repeat: no-repeat;
  top: -25%;
  left: 10%;
}

.reviews_form {
  position: relative;
}
.reviews_form form {
  position: relative;
  max-width: 410px;
  background: #ffc224;
  box-shadow: 0px 10px 40px rgba(109, 45, 9, 0.5);
  border-radius: 10px;
  padding: 30px;
  width: max-content;
  box-sizing: border-box;
  z-index: 15;
}
.reviews_form form h4 {
  color: #fff;
  margin-bottom: 14px;
}
.reviews_form form p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.reviews_form form .reviews_form_text1 {
  margin-bottom: 10px;
  color: #ffffff;
}
.reviews_form form .reviews_form_text2 {
  margin-bottom: 20px;
}
.reviews_form form input,
.reviews_form form select {
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  padding: 0 18px;
  box-sizing: border-box;
}
.reviews_form form input[type=submit] {
  border-radius: 30px;
}
.reviews_form form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
}
.reviews_form form label {
  max-width: 300px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding-left: 40px;
}
.reviews_form form label span {
  text-decoration-line: underline;
  color: #f5652b;
}
.reviews_form form .custom_checkbox {
  display: none;
}
.reviews_form form label::before {
  position: absolute;
  left: 30px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 13px;
}
.reviews_form form .custom_checkbox:checked + label::before {
  background-image: url(../../images/checkbox.png);
  background-position: center 40%;
  background-repeat: no-repeat;
}

.reviews_content {
  position: relative;
  width: 500px;
  height: 650px;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: start;
  align-items: center;
  border-bottom: 2px solid rgba(109, 45, 9, 0.67);
  z-index: 15;
}

.reviews_content_comment {
  margin-bottom: 30px;
  width: 445px;
  min-height: 245px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 40px 35px 30px 35px;
  box-sizing: border-box;
}
.reviews_content_comment p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6d2d09;
}

.reviews_content_comment:nth-child(odd) {
  background: #ffc224;
}

.reviews_content_comment:nth-child(even) {
  background: linear-gradient(180deg, #faff00 0%, #efce15 100%);
}

.reviews_content_comment_title {
  display: flex;
  margin-bottom: 17px;
}
.reviews_content_comment_title p:nth-child(1) {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
.reviews_content_comment_title a {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 14px;
  line-height: 17px;
  color: #6d2d09;
  cursor: pointer;
}
.reviews_content_comment_title a:after {
  content: url(../../images/svg/hand_brown.svg);
  display: inline-block;
  transform: translate(7px, 3px);
}

.reviews_content_comment_photo {
  width: 65px;
  height: 65px;
  background-image: url(../../images/reviews_photo.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  margin-right: 17px;
}

.price {
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.price h2 {
  margin-bottom: 70px;
}

.price_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.price_content .first:before {
  content: "от 500 ₽";
}
.price_content .second:before {
  content: "от 1500 ₽";
}
.price_content .third:before {
  content: "от 2500 ₽";
}
.price_content .forth:before {
  content: "от 3500 ₽";
}
.price_content .fifth:before {
  content: "от 5000 ₽";
}
.price_content .sixth:before {
  content: "от 9000 ₽";
}

.price_content_item {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 216px;
  padding: 53px 34px 42px 37px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #faff00 0%, #efce15 100%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 64px;
  border-radius: 10px;
}
.price_content_item h4 {
  margin-bottom: 20px;
}
.price_content_item p {
  font-size: 14px;
  line-height: 17px;
}

.price_content .fifth {
  height: 249px;
}

.price_content_item::before {
  width: 150px;
  height: 58px;
  display: inline-block;
  background: #f9fa02;
  border: 6px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #f88127;
  padding-top: 15px;
  box-sizing: border-box;
  position: absolute;
  top: -32px;
  left: 32px;
}

.price_content_item_description {
  margin-bottom: 10px;
  font-weight: normal;
}

.price_content_item_time {
  font-weight: 600;
}

.price_content_item:hover {
  background: linear-gradient(90.82deg, #fdbc1e 0.66%, #f09f19 50.5%, #f88127 97.25%);
}
.price_content_item:hover p,
.price_content_item:hover h4 {
  color: #fff;
}

.price_content_item:hover:before {
  background: linear-gradient(90deg, #ffc01f 0%, #f09f19 48.96%, #f88127 100%);
  color: #fff;
}

.music {
  min-height: 610px;
  padding-top: 19px;
}
.music h2 {
  text-decoration: none;
  text-align: start;
  margin-bottom: 30px;
}
.music .container {
  display: flex;
}

.music_description {
  max-width: 540px;
  width: 100%;
}
.music_description button {
  width: 282px;
}

.music_description_text {
  padding-right: 35px;
}
.music_description_text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 23px;
}
footer {
  height: 160px;
  padding-bottom: 44px;
  box-sizing: border-box;
  background: linear-gradient(89.95deg, #f0a119 0.56%, #f98d25 51.81%, #f5652b 97.89%);
}
footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo {
  padding-top: 38px;
}
.footer_logo p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.footer_logo img {
  width: 123px;
}

.scroller::-webkit-scrollbar {
  transform: translateX(100vw);
}

.baron {
  height: 640px;
  position: relative;
}

.scroller {
  overflow-x: hidden;
  height: 100%;
  overflow-y: scroll;
}

.scroller__bar-wrapper {
  position: absolute;
  top: calc(50% - 195px);
  right: 10px;
  width: 2px;
  height: 390px;
  background-color: rgba(103, 42, 14, 0.5);
}

.scroller__bar {
  position: absolute;
  left: -9px;
  width: 20px;
  max-height: 20px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FAFF00 0%, #EEA517 100%);
  box-shadow: 0px 0px 10px rgba(250, 255, 0, 0.53);
}

.scroller__content {
  padding-left: 20px;
}

/*# sourceMappingURL=main.css.map */
